*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "ZLabRoundPix";
    src: url("front/ZLabsRoundPix_12px_M_CN.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}
body{
    min-height: 100vh;
    background-image: url("img/reisa.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.nav_bar{
    font-family: "ZLabRoundPix";
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    background:rgb(255, 255, 255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 100;
}
.nav_link{
    display: flex;
    list-style: none;
    gap: 40px;
}
.nav_link a{
    padding: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 35px;
}